@use '../../styles/colors';

%base {
  border: 0;
  background: transparent;
  border-radius: 4px;
  color: colors.$white;
  cursor: pointer;
  padding: 0.25rem 1rem;
  transition: background-color 150ms ease-out, color 150ms ease-out;
}

.primary {
  @extend %base;
  background: colors.$primary;

  &:hover {
    background: lighten(colors.$primary, 10%);
  }
}

.secondary {
  @extend %base;
  background: colors.$dark-bg;

  &:hover {
    background: lighten(colors.$dark-bg, 10%);
  }
}
