@use './colors';

.field,
.field > label {
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  max-width: 600px;
}

.field {
  > label {
    > input,
    > select {
      background: colors.$dark-bg;
      border: 0;
      border-radius: 4px;
      color: colors.$white;
      margin: 0.5rem 0;
      padding: 0.5rem 1rem;
    }
  }

  &.has-error > label {
    > input,
    > select {
      border: 1px solid colors.$error;
    }
  }

  .field-hint {
    display: block;
    font-size: 0.9rem;
    font-style: italic;
    margin: -0.5rem 0 0;
    opacity: 0.7;
  }

  .field-error {
    display: block;
    color: colors.$error;
  }
}

.field + .field {
  margin-top: 1rem;
}

.field-switch {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  > span {
    cursor: pointer;
  }

  > div {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    > input {
      opacity: 0;
      width: 0;
      height: 0;
      pointer-events: none;
    }

    > span {
      border-radius: 17px;
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: colors.$dark-bg;
    }

    > span::before {
      content: '';
      background: colors.$white;
      border-radius: 50px;
      position: absolute;
      width: 26px;
      height: 26px;
      left: 4px;
      top: 4px;
    }

    > input:checked + span {
      background: colors.$primary;
      &::before {
        transform: translateX(26px);
      }
    }
  }
}
