@use '../../styles/colors';

.server-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin-top: 1rem;

  @media only screen and (min-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (min-width: 1400px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media only screen and (min-width: 1900px) {
    grid-template-columns: repeat(4, 1fr);
  }

  > li {
    background: colors.$light-bg;
    border-radius: 0.5rem;
    box-shadow: 0 3px 6px rgba(black, 0.5);
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;

    header {
      background: colors.$primary;
      padding: 0.25rem 0.5rem;

      h3 {
        font-weight: 200;
      }
    }

    > div {
      display: flex;
      flex-flow: row wrap;
      flex-grow: 1;
      padding: 0.5rem;

      button {
        background: transparent;
        border: 0;
        border-radius: 4px;
        color: currentColor;
        cursor: pointer;
        transition: background-color 150ms ease-out;

        &:hover {
          background: rgba(white, 0.2);
        }

        .icon {
          transform: translateY(4px);
        }
      }

      button + button {
        margin-left: 0.25rem;
      }
    }

    footer {
      background: colors.$dark-bg;
      color: rgba(white, 0.4);
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      padding: 0.25rem 0.5rem;
    }
  }
}
