@use '../../styles/colors';

.app-sidebar {
  background: colors.$light-bg;
  box-shadow: 0 0 8px rgba(black, 0.7);
  width: 250px;

  .brand {
    background: colors.$primary;
    padding: 1rem;

    h1 {
      align-items: center;
      display: flex;
      flex-flow: row nowrap;
      font-weight: 300;

      span {
        display: inline-block;
        margin-right: 0.5rem;
      }
    }
  }

  li > a {
    align-items: center;
    background: transparent;
    border-radius: 4px;
    border-left: 4px solid transparent;
    color: currentColor;
    display: flex;
    flex-flow: row nowrap;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: background-color 150ms ease-out, border-color 150ms ease-out;

    &:hover {
      background: rgba(colors.$primary, 0.35);
    }

    &.active {
      background: rgba(colors.$primary, 0.35);
      border-color: colors.$primary;
    }

    span {
      display: inline-block;
      margin-right: 0.5rem;
    }
  }
}
