@use '../../styles/colors';

.title {
  margin-bottom: 2rem;
}

.subtitle {
  border-bottom: 1px solid rgba(white, 0.1);
  margin-bottom: 1rem;
  max-width: 600px;
}

.description {
  max-width: 600px;
}

.steps {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 2rem;

  > div {
    align-items: center;
    background: colors.$dark-bg;
    border-radius: 4px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: 80px;
    width: 80px;
    transition: background-color 150ms ease-out;
    text-align: center;
    cursor: pointer;
  }

  > div.active {
    background: colors.$primary;
  }

  > div.deactivated {
    opacity: 0.5;
  }

  > div + div {
    margin-left: 1.5rem;
  }
}

.actions {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  margin-top: 2rem;
  max-width: 600px;

  .right {
    margin-left: auto;
  }

  button + button {
    margin-left: 0.5rem;
  }
}
