@use './styles/colors';

@import './styles/reboot.css';
@import './styles/material-icons.css';
@import './styles/forms';

html,
body,
#root {
  height: 100%;
}

body {
  background: colors.$bg;
  color: colors.$white;
}

#root {
  display: grid;
  grid-template-areas: 'side main' 'footer footer';
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr min-content;
}

.app-sidebar {
  grid-area: side;
}

.app-view {
  grid-area: main;
  padding: 2rem 3rem;
}

.app-footer {
  background: colors.$dark-bg;
  grid-area: footer;
  padding: 0.5rem 1rem;

  p {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
  }

  span {
    display: inline-block;
    padding: 0 0.25rem;

    &:first-of-type {
      color: lighten(red, 12%);
    }

    &:last-of-type {
      color: lighten(brown, 25%);
    }
  }
}
